#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-image: url(https://static.vecteezy.com/system/resources/previews/002/924/920/original/minimal-scene-with-geometrical-forms-cylinder-podium-in-pink-background-scene-to-show-cosmetic-product-showcase-shopfront-display-case-3d-illustration-free-vector.jpg);
}

